<table>
  <thead>
    <th (click)="orderBy = 'id'; reverse = !reverse; accountSelected = true; cashSelected = false;" [ngClass]="{'active': accountSelected}">
      <span class="table-title">
        Account 
        <span [ngClass]="{'reverse': reverse}" *ngIf="orderBy == 'id'" class="chevron">V</span>
      </span>
    </th>
    <th  (click)="orderBy = 'cash'; reverse = !reverse; accountSelected = false; cashSelected = true;" [ngClass]="{'active': cashSelected}">
      <span class="table-title">
          <span [ngClass]="{'reverse': reverse}" *ngIf="orderBy == 'cash'" class="chevron">V</span>
          Available Cash
        </span>
      <span>Today's Change</span>
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let account of dataService$.accounts | orderBy: orderBy : reverse ; let i = index" >
      <td *ngIf="i <= limit">
        <span class="account-title">
          {{account.prefix}} - {{account.id}} 
        </span>
      </td>
      <td *ngIf="i <= limit">
        <p class="cash">${{account.cash | number : '0.00'}}</p>
        <span class="difference" [ngClass]="{'negative': account.dif < 0, 'positive': account.dif > 0}">
          <span *ngIf=" account.dif > 0">+</span>{{account.dif}}% / ${{account.val | number : '0.00'}} 
        </span>
      </td>
    </tr>
  </tbody>
</table>
<a class="load-more" *ngIf="limit !== dataService$.accounts.length" (click)="loadMore()">Load more</a>